title: onlineVR toolbox 
description: Here you can find practical notebooks for the onlineVR toolbox.
remote_theme: just-the-docs/just-the-docs
plugins:
  - jekyll-remote-theme


url: https://lkumle.github.io/onlineVRtoolbox_tutorials/

aux_links:
  Template Repository: https://github.com/just-the-docs/just-the-docs-template


callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red